---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/footer.astro'
import BulletPoints from '../components/BulletPoints.astro'
import Navbar from '../components/Navbar.astro'
import Projects from '../components/Projects.astro'
import Intro from '../components/intro.astro'
---

<Layout title='sergio' >
  <main>
    <Navbar />
    <Intro />
    <Projects />
    <BulletPoints />
    <Footer />
  </main>
</Layout>
