---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/footer.astro'
import BulletPoints from '../components/bulletpoints.astro'
import { Icon } from 'astro-icon'
import Navbar from '../components/Navbar.astro'
import Projects from '../components/Projects.astro'
import Intro from '../components/intro.astro'
---

<Layout title='sergio'>
  <main>
    <Navbar />
    <!-- Intro section -->
    <Intro/>  

    <Projects />

    <BulletPoints />

    <Footer />
  </main>
</Layout>


<script>
  // Get all elements with the class "inView"
const elements = document.querySelectorAll('.inView');

// Create a callback function to handle intersection changes
const callback = (entries, observer) => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      // Add the class "animate__animated" when element is in view
      entry.target.classList.add('animate__animated');
    }
  });
};

// Create an Intersection Observer instance with the callback function
const observer = new IntersectionObserver(callback);

// Observe each element with the class "inView"
elements.forEach(element => {
  observer.observe(element);
});
</script>
