---
---

<nav class='text-sm text-white'>
  <section class='mx-auto flex justify-between p-10'>
    <a
      class='border p-3 px-5 text-sm hover:bg-white hover:text-black font-myfont1'
      href='assets/sergioResume.pdf'
      >TLDR:CV</a
    >
    <!-- <a class="border rounded px-3 py-1" >Blog</a> -->
  </section>
</nav>
