---
---

<nav class=" text-sm text-white ">
  <section class=" mx-auto flex justify-between max-w-7xl m-8 p-6">
    <a class="border rounded px-3 py-1" href="assets/sergioResume.pdf">TLDR:CV</a>
    <!-- <a class="border rounded px-3 py-1" >Blog</a> -->

  </section>
</nav>
