---

---

<section class='py-52 text-white'>
  <div class='mx-auto max-w-7xl px-6 sm:px-8 md:px-12'>
    <h2 class='text-5xl font-myfont1 md:text-6xl text-center'>Projects</h2>

    <!-- Grid 2 begins -->
    <div class='mt-28 grid grid-cols-1 sm:grid-cols-2 gap-20 font-myfont3'>
      <div class='grid2-item border-4 p-8 '>
        <h3 class='text-3xl '>serrg.dev</h3>
        <p class='py-12'>
          This website you are on now! Created with AstroJS and Tailwind
        </p>
        <a
          class='border p-3 px-5 text-sm hover:bg-white hover:text-black'
          href='https://github.com/Srgiomndz/astro-portfolio'
          >Repo</a
        >
      </div>

      <div class='grid2-item border-4 p-8 '>
        <h3 class='text-3xl'>NextChat</h3>
        <p class='py-12'>
          A chat app built with NextJS, GraphQL, Prisma and Typescript
        </p>
        <a
          class='border  p-3 px-5  text-sm hover:bg-white hover:text-black'
          href='https://github.com/Srgiomndz/next-chat-backend'
          >Repo</a
        >
      </div>

      <div class='grid2-item border-4 p-8 '>
        <h3 class='text-3xl'>Shopping Cart</h3>
        <p class='py-12'>A ecommerce site built with React</p>
        <a
          class='border  p-3 px-5  text-sm hover:bg-white hover:text-black'
          href='https://github.com/Srgiomndz/react-e-comm'
          >Repo</a
        >
      </div>

      <div class='grid2-item border-4 p-8 '>
        <h3 class='text-3xl'>Calorie</h3>
        <p class='py-12'>
          A calorie tracking website, with charts and profiles
        </p>
        <a
          class=' border  p-3 px-5  text-sm hover:bg-white hover:text-black'
          href='https://github.com/Srgiomndz/calorie-app'
          >Repo</a
        >
      </div>
    </div>
    <!-- Grid 2 ends -->
  </div>
</section>
