---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='description'
      content='The personal or portfolio website of Sergio Mendez. Sergio is a Software engineer'
    />

    <script
      type='text/partytown'
      src='https://www.googletagmanager.com/gtag/js?id=G-N9N3T24SGZ'
    ></script>
    <script type='text/partytown'>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-N9N3T24SGZ')
    </script>

    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  @font-face {
  font-family: 'PPNeueMachina-InktrapUltrabold';
  src: url('/fonts/PPNeueMachina-InktrapUltrabold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  @font-face {
  font-family: 'PPNeueMachina-InktrapLight';
  src: url('/fonts/PPNeueMachina-InktrapLight') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  @font-face {
  font-family: 'PPNeueMachina-PlainRegular';
  src: url('/fonts/PPNeueMachina-PlainRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


  html {
    background-color: rgb(28, 28, 28);
  }
</style>
